# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\OneDrive\OneDrive - Universidade de Coimbra\Univerisdade\UNI-Meu\Mestrado\1º Ano\1º Semestre\IS\PL\jeeapp\jeeapp\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
