# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\OneDrive - dei.uc.pt\Área de Trabalho\Universidade\Mestrado\1_ano\1_sem\IS\Fichas\Ficha_1\simple-jaxb\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
